@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget single-widget-custom">
                        @Html.Action("DraperyForYouFooter", "Catalog")
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget single-widget-custom">
                        @Html.Action("DraperyCollectionFooter", "Catalog")
                    </div>
                </div>
                <!--<div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Contact</h2>
                        <ul class="nav nav-pills nav-stacked" style="color:#8C8C88">
                            <li><strong>Address:</strong> 10678 Jones Rd.<br />Houston, Texas 77065</li>
                            <li><strong>Phone:</strong> 1 (281) 469-9996</li>
                            <li><strong>Fax:</strong> 1 (281) 469-9997</li>
                            <li><strong>Email:</strong> sales@annasdrapery.com</li>

                        </ul>
                    </div>
                </div>-->

                <div class="col-sm-4">
                    @Html.Action("NewsletterBox", "Newsletter")

                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-sm-4 text-left">
                    
                </div>
                <div class="col-sm-12 text-center">
                    @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                     @if (!Model.HidePoweredByNopCommerce)
                    {
                        <text>
                            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                                Find more info at http://www.nopcommerce.com/copyrightremoval.aspx*@
                            Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                        </text>
                    }
                </div>

                <div class="col-sm-4 text-right">
                   
                </div>

                @if (Model.DisplayTaxShippingInfoFooter)
                {
                    var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                    <div class="footer-tax-shipping text-center">
                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }
               
            </div>
        </div>
    </div>



    @Html.Widget("footer")
</footer>
<!--/Footer-->
