@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
<div class="header_top"><!--header_top-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-list pull-left">
                    <ul class="nav navbar-nav">
                        @if (!string.IsNullOrEmpty(Model.FacebookLink))
                        {
                            <li><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.TwitterLink))
                        {
                            <li><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                        {
                            <li><a href="@Model.GooglePlusLink" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                        {
                            <li><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        }
                    </ul>
                </div>
                <div class="contactinfo pull-left">
                    <ul class="nav nav-pills">
                        <!--<li><a href="#"><i class="fa fa-phone"></i> (281) 469-9996</a></li>
                            <li><a href="#">Fax: (281) 469-9997</a></li>-->
                        <li>
                            @Html.Action("LanguageSelector", "Common")
                            @Html.Action("CurrencySelector", "Common")
                            @Html.Action("TaxTypeSelector", "Common")
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">               
                <div class="section-list pull-right">
                    @Html.Action("SearchBox", "Catalog") 
                </div>
                 @if (!Model.IsAuthenticated && false)
                {
                <div class="pull-right">
                    <div class="contactinfo pull-left">
                        <ul class="nav nav-pills">
                            <li><a href="@Url.RouteUrl("Login")"><i class="fa fa-sign-in"></i> Login</a></li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="theme-color-picker hide">
    <div id="configure-button" class="configure-button" data-expanded="false">
        <a href="#"><i class="fa fa-cog fa-2x"></i></a>
        
    </div>
    <div class="color-options" id="color-options">
        <h3>Preset Color</h3>
        <div class="options-choosing-palette">
            <ul>
                <li><a href="#" rel="blue" class="styleswitch blue-picker"><img src="~/Themes/NopShop/Content/css/images/blue-picker.png"/></a></li>
                <li><a href="#" rel="red" class="styleswitch red-picker"><img src="~/Themes/NopShop/Content/css/images/red-picker.png"/></a></li>
                <li><a href="#" rel="darkblue" class="styleswitch darkblue-picker"><img src="~/Themes/NopShop/Content/css/images/darkblue-picker.png"/></a></li>
            
            

            </ul>
            <ul>
                
                <li><a href="#" rel="orange" class="styleswitch orange-picker"><img src="~/Themes/NopShop/Content/css/images/orange-picker.png"/></a></li>
                <li><a href="#" rel="cyan" class="styleswitch cyan-picker"><img src="~/Themes/NopShop/Content/css/images/cyan-picker.png"/></a></li>
                <li><a href="#" rel="green" class="styleswitch green-picker"><img src="~/Themes/NopShop/Content/css/images/green-picker.png"/></a></li>

            </ul>
        </div>

        

    </div>
</div>





<script type="text/javascript">
	$(function()
		{
			// Call stylesheet init so that all stylesheet changing functions 
			// will work.
			$.stylesheetInit();
			
			// This code loops through the stylesheets when you click the link with 
			// an ID of "toggler" below.
			$('#toggler').bind(
				'click',
				function(e)
				{
					$.stylesheetToggle();
					return false;
				}
			);
			
			// When one of the styleswitch links is clicked then switch the stylesheet to
			// the one matching the value of that links rel attribute.
			$('.styleswitch').bind(
				'click',
				function(e)
				{
					$.stylesheetSwitch(this.getAttribute('rel'));
					return false;
				}
			);


			$("#configure-button").on("click", function (e) {
			    e.preventDefault();
	        if ($(this).data("expanded") == "true") {
	            $("#color-options").css({ right: '-200px' });
	            $("#configure-button").css({ right: '0px' });
	            $(this).data("expanded","false");
	        } else {
	            $("#color-options").css({ right: '0px' });
	            $("#configure-button").css({ right: '200px' });
	            $(this).data("expanded", "true");
	        }
	        
	    });


		}
	);
	</script>
