@model OrderModel
@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Catalog;

<table class="adminContent">
    <tr>
        <td class="adminData">
             <div id="pos-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#pos-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "PurchaseOrder"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 10,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [10]
                            },
                           
                            scrollable: false,
                        columns: [
                            {
                                field: "PONumber",
                                title: "@T("Admin.PO.Fields.PONumber")"
                            }, {
                                field: "VendorName",
                                title: "@T("Admin.PO.Fields.VendorName")"
                            }, {
                                field: "Id",
                                title: "@T("Admin.PO.Fields.Content")",
                                template: '<a href="" onclick ="return ViewContent(#=Id#)">Click to view Content</a>'
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.Orders.Fields.CreatedOn")",
                                type: "date",
                                format: "{0:G}"
                            }]
                        });
                    });
                </script>

                <script type="text/javascript">

                    function additionalData() {
                        var data = {
                            OrderId: @Model.Id
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                    function ViewContent(id)
                    {
                        OpenWindow('@(Url.Action("PurchaseOrderContentPopup","PurchaseOrder"))/'+id, 700, 500, true);
                        return false;
                    }
                </script>
        </td>
</table>
